.basecard {
    display: block;
    height: 370px;
    width: 250px;
    position: relative;
    margin: auto;
}

.mycard {
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: black;
}

.container-fluid {
    margin-top: 50px;
    overflow: hidden;
}